* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.Cabecalho {
    background-color: green;
    display: flex;
    width: 1280px;
    height: 100px;
    justify-content: space-between;
    
}

.ListaHeader {
    width: 400px;
    height: 100px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

.menu-header ul li a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 15px;
    padding: 8px;
    
}

.ResumoCidades {
    width: 1280px;
    height: 300px;
    background-image: url("../img/file.jpg") ;
    color: bisque;
    display: flex;
}
.resumo{
    padding: 10px;
    align-self: center;
    text-align:center;
}

.H2Turistico, .H2Video {
    width: 1280px;
    padding: 30px;
    display: flex;
    justify-content: center;

}

.PontosTuristicos {
    width: 1280px;
    height: 400px;
    display: flex;
    
}

.cards{
width: 426px;
height: 100%;
border-radius: 30px;
text-align: center;
color: whitesmoke;
padding: 10px;
margin: 5px;
border: 2px solid  gray;
background-color: gray;
box-shadow: 10px 10px 5px black; /*teste*/
}

.imagemTuristico {
    flex-grow: 1;
    width: 400px;
    height: 326px;
    border-radius: 30px;
    margin-top: 5px;
}


.VideosApresentacao {
    display: flex;
    width: 1280px;

}

.VideoYoutube {
    flex-grow: 1;
    width: 560px;
    height: 315px;
    padding: 10px;
}
.Rodape {
    width: 1280px;
    height: 100px;
    background-color: green;

    
} 

.teste {
    display: flex;
    width: 1280px;
    padding: 10px;
    height: 100px;
    margin-left: 200px;
    
}


.referencia {
    width: 1280px;
    flex-direction: column;
    
}

.RedeSociais {
    flex-direction: row;
}


.linkedin{
    width: 40px;
}

